.buscador{
    color: #011750;
    height: auto;
    text-align: center;
    background-color: lightblue;
}
.pregunta{
    font-size: 3rem;
    color: #011750;
    text-align: center;
}        
.navegacion{
    font-size: 2rem;
    text-decoration: none;
}

