.boxEmprendimientos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "pregunta pregunta pregunta"
    "emprendimiento1 emprendimiento2 emprendimiento3";
}